extends layout

block content
  h1= title
  p Welcome to #{title}
  video(src='http://newengine.learn.com/ec_engine/fileManager/fileRead?userId=mx&filePath=/own/2017-03/videos/9a4b5bd7-ca0c-4403-be3d-415ed408fc30.mp4' controls='controls') your browser does not support the video tag